apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-env-configmap
data:
  # ArgoCD Host: kubectl get svc/argocd-server -n argocd -ojson | jq .spec.clusterIP
  # ArgoCD Port: 80
  # ARGOCD_SERVER: HOST:PORT
  ARGOCD_SERVER: ${ARGOCD_SERVER}
  ARGOCD__OPTS: '--plaintext --insecure'
---

apiVersion: v1
kind: Secret
metadata:
  name: argocd-env-secret
stringData:
  ARGOCD_USERNAME: ${ARGOCD_USERNAME}
  ARGOCD_PASSWORD: ${ARGOCD_PASSWORD}
