apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-env-configmap
data:
  ARGOCD_SERVER: ${ARGOCD_SERVER}
---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-env-secret
stringData:
  ARGOCD_USERNAME: ${ARGOCD_USERNAME}
  ARGOCD_PASSWORD: ${ARGOCD_PASSWORD}
